django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
supabase
pyjwt
passlib
bcrypt
tensorflow-cpu==2.15.1
numpy
pillow
google-generativeai
certifi
gunicorn
whitenoise
daphne
channels
stripe
